# ==========================
# Firebase / ESP32 secrets
# ==========================

**/secrets.h
**/firebase.js

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Arduino build files
# ==========================

*.elf
*.bin
*.hex
*.map

# ==========================
# OS files
# ==========================

.DS_Store
Thumbs.db
desktop.ini